@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: white;
    stroke-width: 0;
  }
}

.logo {
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  animation: offset 5s linear forwards, fill-it .8s 5s forwards;
}