// logo initial animation

@-webkit-keyframes offset {
  0% {
    fill: transparent;
    stroke: white;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
}

@keyframes offset {
  0% {
    fill: transparent;
    stroke: white;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  0% {
    fill: transparent;
    stroke-width: 1px;
  }
  100% {
    fill: white;
    stroke-width: 0px;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
    stroke-width: 1;
  }
  100% {
    fill: white;
    stroke-width: 0;
  }
}

.logo.logo-animates {
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  animation: offset 3s linear forwards, fill 1s ease 3s forwards;
}