// logo initial animation

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: white;
    stroke-width: 0;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

.logo-animates {
  stroke: white;
  fill: transparent;
  stroke-width: 1;
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  animation: offset 5s linear forwards, fill-it .8s 5s forwards;
}