.nav--active {
  @extend .nav;
  transform: initial;
  transition: transform .45s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
  transition-delay: .25s;
}

[aria-hidden="false"] {
  .nav__inner {
    transform: initial;
    transition: transform .45s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
    transition-delay: .25s;
  }
}