.nav--active {
  @extend .nav;
  transform: initial;
  transition: transform .50s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
  display: block;
  &::before {
    display: block;
  }
}

[aria-hidden="false"] {
  &::before {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  .nav__inner {
    transform: initial;
    transition: transform .50s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
  }
}