.disable {
	pointer-events: none;
}

.fade-enter,
.fade-enter-active,
.fade-enter-done {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

.fade-exit,
.fade-exit-active,
.fade-exit-done {
	opacity: 0;
	transition: opacity $fade-animation-time ease-in;
}

/* initial mounting */
.fade-appear {
	opacity: 0;
}

.fade-appear-active {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

// Slide

.slide-up-enter {
	z-index: 500;
	transform: translateY(100vh);
}

.slide-up-enter-active {
	z-index: 500;
	transform: translateY(0);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-up-exit {
	z-index: 250;
}

.slide-up-exit-active {
	transform: translateY(-100vh);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-up-exit-done {
	transition: transform $slide-animation-time $bounce-animation-effect;
}

// Slide Down

.slide-down-enter {
	z-index: 500;
	transform: translateY(-100vh);
}

.slide-down-enter-active {
	z-index: 500;
	transform: translateY(0);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-down-exit {
	z-index: 250;
}

.slide-down-exit-active {
	transform: translateY(100vh);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-down-exit-done {
	transition: transform $slide-animation-time $bounce-animation-effect;
}