// ====================
// Fade
// ====================

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity $fade-animation-time ease-in;
}

/* initial mounting */
.fade-appear {
	opacity: 0;
}

.fade-appear-active {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

// ====================
// Slide Up
// ====================

.slide-up-from-bottom {
	z-index: 500;
	transform: translateY(100vh);
}

.slide-up-from-bottom-active {
	z-index: 500;
	transform: translateY(0);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-up-from-bottom-done {
	transform: translateY(0);
}

.slide-up-from-middle {
	z-index: 250;
	transform: translateY(0);
}

.slide-up-from-middle-active {
	z-index: 250;
	transform: translateY(-100vh);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-up-from-middle-done {
	transform: translateY(-100vh);
}

// ====================
// Slide Down
// ====================

.slide-down-from-top {
	z-index: 500;
	transform: translateY(-100vh);
}

.slide-down-from-top-active {
	z-index: 500;
	transform: translateY(0);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

.slide-down-from-middle {
	z-index: 250;
	transform: translateY(0);
}

.slide-down-from-middle-active {
	transform: translateY(100vh);
	transition: transform $slide-animation-time $bounce-animation-effect;
}

// ====================
// Move In Halves
// ====================

.move-in-halves {
	section:nth-of-type(1) {
		transform: translateY(-100%);
	}
	section:nth-of-type(2) {
		transform: translateY(100%);
	}
}

.move-in-halves-active {
	section {
		transform: translateY(0) !important;
		transition: transform $move-in-animation-time cubic-bezier(.44,1.57,.82,-0.63);
	}
}

// ====================
// Move Out Halves
// ====================

.move-out-halves {
	section {
		transform: translateY(0);
	}
}

.move-out-halves-active {
	section:nth-of-type(1) {
		transform: translateY(-100%);
		transition: transform .5s ease;
	}
	section:nth-of-type(2) {
		transform: translateY(100%);
		transition: transform .5s .25s ease;
	}
}