.about-contact {
  z-index: 900;
  @media (min-height: 600px) {
    display: flex;
    flex-direction: column;
    section {
      flex: 1;
    }
  }
  @include mq('med') {
    display: flex;
    flex-direction: row;
    &__contact-half,
    &__about-half {
      flex: 1;
    }
  }
  &__about-half {
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__contact-half {
    background: rgba(28,29,37,.985);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-info {
  width: 70%;
  &__title {
    padding-top: .50rem;
    font-weight: bold;
    font-size: 1.79rem;
  }
  &__description {
    margin-top: .50rem;
    font-weight: 300;
    font-size: 1.32rem;
  }

  &__list {
    background: #ecf0f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ecf0f1;
    color: gray;
    height: 50px;
    max-height: 20%;
    .social-link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      svg {
        height: 40px;
        width: 40px;
      }
    }
  }
}