.about-contact {
  @media (min-height: 600px) {
    display: flex;
    flex-direction: column;
    section {
      flex: 1;
    }
  }
  @include mq('med') {
    display: flex;
    flex-direction: row;
    section {
      flex: 1;
    }
  }
}