%base-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  z-index: 100;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  @extend %base-btn;
  transition: color $base-animation-time, background $base-animation-time;
  &:hover {
    cursor: pointer;
  }
  &--portfolio {
    @extend .btn;
    background-color: $cerulean;
    &:hover {
      color: $cerulean;
      background-color: white;
    }
    &:active {
      color: white;
      background-color: $cerulean;
    }
  }
  &--project {
    @extend .btn;
    padding: .50rem 1rem;
    margin: 0 .50rem .50rem 0;
    background-color: $cerulean;
    &:hover {
      color: $cerulean;
      background-color: white;
    }
    &:active {
      color: white;
      background-color: $cerulean;
    }
  }
}

