.intro {
  @extend %absolute-fill;
  padding-bottom: 50px;
  color: white;
  background-image: url(../images/oregon-fog.jpg);
  background-size: cover;
  @extend %flex-column-center;
  position: relative;
  * {
    text-align: center;
  }
  &--overlay {
    @extend %absolute-fill;
    z-index: 5;
    background: rgba(0,0,0,0.5);
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  max-width: 100%;
  padding: 0 1rem;
}

.description {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 60%;
  margin: 1.5em 0 0 0;
}

.talents {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

.dot {
  font-weight: 300;
}

.title,
.description,
.talents {
  z-index: 100;
}