.intro {
  @extend %absolute-fill;
  padding-bottom: 50px;
  color: white;
  @include mq('sm') {
    background-image: url(../images/backgrounds/intro-image--mobile.jpg);
  }
  @include mq('med') {
    background-image: url(../images/backgrounds/intro-image--desktop.jpg);
  }
  @media screen and (orientation: landscape) and (max-width: map-get($breakpoints,'sm')) {
    background-image: url(../images/backgrounds/intro-image--desktop.jpg);
  }
  background-size: cover;
  background-position: center;
  @extend %flex-column-center;
  position: relative;
  * {
    text-align: center;
  }
  &--overlay {
    @extend %absolute-fill;
    z-index: 5;
    background: rgba(0,0,0,0.30);
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  max-width: 100%;
  padding: 0 1rem;
}

.description {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 60%;
  margin: 1.5em 0 0 0;
}

.talents {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

.dot {
  font-weight: 300;
}

.title,
.description,
.talents {
  z-index: 100;
}

@-webkit-keyframes carousel-scroll-btn-roll-over {
  0% {
      stroke-dashoffset: 113
  }

  100% {
      stroke-dashoffset: 0
  }
}

@keyframes carousel-scroll-btn-roll-over {
  0% {
      stroke-dashoffset: 113
  }

  100% {
      stroke-dashoffset: 0
  }
}

@-webkit-keyframes carousel-scroll-btn-roll-out {
  0% {
      stroke-dashoffset: 0
  }

  100% {
      stroke-dashoffset: -113
  }
}

@keyframes carousel-scroll-btn-roll-out {
  0% {
      stroke-dashoffset: 0
  }

  100% {
      stroke-dashoffset: -113
  }
}

.bar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 80px;
  line-height: 80px;
  z-index: 55;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 600px;
  perspective: 600px;
  .carousel-scroll-btn {
    &:hover .carousel-scroll-btn-icon-hover-path {
      stroke-dashoffset: 0;
      -webkit-animation: carousel-scroll-btn-roll-over .6s cubic-bezier(.63,.1,.08,1.01);
      animation: carousel-scroll-btn-roll-over .6s cubic-bezier(.63,.1,.08,1.01);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 30px;
      height: 43px;
      margin-left: -15px;
      border: 2px solid white;
      opacity: .50;
      border-radius: 30px;
      z-index: 62;
    }
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -16px;
    width: 30px;
    height: 43px;
    text-align: center;
    cursor: pointer;
    &-icon-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 62;
    }
    &-icon {
      position: absolute;
      top: 18px;
      left: 8px;
      width: 16px;
      height: 16px;
      color: #000;
      fill: white;
    }
    &-icon-hover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 65;
      &-path {
        fill: transparent;
        stroke-width: 2px;
        stroke-dashoffset: 113;
        stroke-dasharray: 113;
        -webkit-animation: carousel-scroll-btn-roll-out .6s cubic-bezier(.63,.1,.08,1.01);
        animation: carousel-scroll-btn-roll-out .6s cubic-bezier(.63,.1,.08,1.01);
      }
    }
  }
}