.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
	svg {
    transition: fill stroke $base-animation-time;
    stroke-dashoffset: 0;
		stroke-width: 0;
		stroke: white;
		fill: white;
	}
}

.navlink.active {
  display: flex;
  justify-content: center;
  align-items: center;
	svg {
    transition: fill stroke $base-animation-time;
		stroke: orange;
		fill: orange;
	}
}