.projects {
  @extend %absolute-fill;
  display: flex;
  flex-flow: row wrap;
  &__project {
    height: 50%;
    width: 50%;
    position: relative;
    &--overlay {
      opacity: 0;
      @extend %absolute-fill;
      background: $color--black-dim;
      .project-container {
        @extend %absolute-fill;
        @extend %flex-column-center;
        color: white;
        .project-title,
        .project-description {
          padding-bottom: 1rem;
          text-align: center;
        }
        .project-title {
          max-width: 80%;
          font-weight: 300;
          font-size: 2rem;
        }
        .project-description {
          max-width: 90%;
        }
        .button-container {
          width: 100%;
          padding: 0 1rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

$projects: (
  'calculator': 'jpg',
  'random-quote-machine': 'jpg',
  'tic-tac-toe': 'jpg',
  'pomodoro-clock': 'jpg'
);

@each $project, $metadata in $projects {
  $current-project: $project;
  .projects__project--#{$project} {
    @extend .projects__project;
    @if $project == 'pomodoro-clock' {
      background: url("../images/projects/#{$current-project}.jpg");
    } @else {
      background: url("../images/projects/#{$current-project}--mobile.#{$metadata}");
    }
    background-size: cover;
    background-position: center;
    @include mq('med') {
      @if $project == 'pomodoro-clock' {
        background: url("../images/projects/#{$current-project}.jpg");
      } @else {
        background: url("../images/projects/#{$current-project}--desktop.#{$metadata}");
      }
      background-size: cover;
      background-position: center;
    }
  }
}