.projects {
  display: flex;
  flex-flow: row wrap;
  &__project {
    width: 100%;
    height: 70%;
    position: relative;
    @include mq('med') {
      border: 6px solid #fff;
    height: 50%;
    width: 50%;
    }
    &--overlay {
      @extend %absolute-fill;
      background: #1c1d25;
      opacity: .6;
    }
  }
}

.project-container {
  @extend %absolute-fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: auto;
  padding-top: 1.5rem;
  @include mq('med') {
    justify-content: center;
    padding-left: 4rem;
    align-items: stretch;
  }
  .project-title {
    max-width: 90%;
    font-weight: 800;
    font-size: 2rem;
  }
  .project-description {
    padding-top: .75rem;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    max-width: 100%;
  }
  .link-container {
    display: flex;
    padding-top: .75rem;
  }
  .project-link {
    font-size: 1rem;
    letter-spacing: 3px;
  }
  .project-link-cover {
    @extend %absolute-fill;
    display: block;
    :hover {
      cursor: pointer;
    }
  }
}

.project {
  @include mq('sm') {
    &:nth-of-type(1) {
      border-bottom: 12px solid #fff;
    }
    &:nth-of-type(2) {
      border-bottom: 12px solid #fff;
    }
    &:nth-of-type(3) {
      border-bottom: 12px solid #fff;
    }
  }
  @include mq('med') {
    transition: border-width .25s ease-in;
    &:hover {
      border-width: 0px !important;
      transition: border-width .25s ease-in;
    }
    &:nth-of-type(1) {
      border-top: 12px solid #fff;
      border-left: 12px solid #fff;
    }
    &:nth-of-type(2) {
      border-top: 12px solid #fff;
      border-right: 12px solid #fff;
    }
    &:nth-of-type(3) {
      border-left: 12px solid #fff;
      border-bottom: 12px solid #fff;
    }
    &:nth-of-type(4) {
      border-right: 12px solid #fff;
      border-bottom: 12px solid #fff;
    }
  }
}

$projects: (
  'calculator': 'jpg',
  'random-quote-machine': 'jpg',
  'tic-tac-toe': 'jpg',
  'pomodoro-clock': 'jpg'
);

@each $project, $metadata in $projects {
  $current-project: $project;
  .projects__project--#{$project} {
    @extend .projects__project;
    @if $project == 'pomodoro-clock' {
      background: url("../images/projects/#{$current-project}.jpg");
    } @else {
      background: url("../images/projects/#{$current-project}--mobile.#{$metadata}");
    }
    background-size: cover;
    background-position: center;
    @include mq('med') {
      @if $project == 'pomodoro-clock' {
        background: url("../images/projects/#{$current-project}.jpg");
      } @else {
        background: url("../images/projects/#{$current-project}--desktop.#{$metadata}");
      }
      background-size: cover;
      background-position: center;
    }
  }
}