// Colors

$resume-dark-blue : #313638;
$resume-light-blue: #5271ff;
$cod-gray         : #111111;
$black-opacity-25 : rgba(0,0,0,0.25);
$cerulean         : #10A3D5;
$white            : #F5F5F5;
$dodger-blue      : #3088f3;

$color--nav             : $resume-dark-blue;
$color--cursor          : $white;
$color--black-dim       : $black-opacity-25;
$color--case-study-theme : $dodger-blue;

$color--btn--portfolio: $cerulean;
$color--nav__inner__title: $cerulean;

$breakpoints: (
  "xs": 600px,
  "sm": 767px,
  "med": 768px,
  "lg": 992px,
);

// Animation Stuff

$base-animation-time: .5s;
$fade-animation-time: .5s;
$slide-animation-time: .50s;
$cursor-animation-time: .60s;
$move-in-animation-time: .5s;
$move-out-animation-time: .5s;

$slide-animation-effect: ease-out;