// ====================
// Fade
// ====================

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

.fade-enter-active--delay {
	opacity: 1;
	transition: opacity $fade-animation-time .5s ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity $fade-animation-time ease-in;
}

.fade-exit.fade-exit-active.negate {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

/* initial mounting */
.fade-appear {
	opacity: 0;
}

.fade-appear-active {
	opacity: 1;
	transition: opacity $fade-animation-time ease-in;
}

// ====================
// Slide Up
// ====================

.slide-up-from-bottom {
	z-index: 500;
	transform: translateY(100vh) translateZ(0);
}

.slide-up-from-bottom-active {
	z-index: 500;
	transform: translateY(0) translateZ(0);
	transition: transform $slide-animation-time $slide-animation-effect;
}

.slide-up-from-bottom-done {
	transform: translateY(0) translateZ(0);
}

.slide-up-from-middle {
	z-index: 250;
	transform: translateY(0) translateZ(0);
}

.slide-up-from-middle-active {
	z-index: 250;
	transform: translateY(-100vh) translateZ(0);
	transition: transform $slide-animation-time $slide-animation-effect;
}

.slide-up-from-middle-done {
	transform: translateY(-100vh) translateZ(0);
}

.slide-up-from-middle.slide-up-from-middle-active.negate {
	z-index: 250;
	transform: translateY(0) translateZ(0);
	transition: transform $slide-animation-time $slide-animation-effect;
}

// ====================
// Slide Down
// ====================

.slide-down-from-top {
	z-index: 500;
	transform: translateY(-100vh) translateZ(0);
}

.slide-down-from-top-active {
	z-index: 500;
	transform: translateY(0) translateZ(0);
	transition: transform $slide-animation-time $slide-animation-effect;
}

.slide-down-from-middle {
	z-index: 250;
	transform: translateY(0) translateZ(0);
}

.slide-down-from-middle-active {
	transform: translateY(100vh) translateZ(0);
	transition: transform $slide-animation-time $slide-animation-effect;
}

.slide-down-from-middle.slide-down-from-middle-active.negate {
	z-index: 250;
	transform: translateY(0) translateZ(0);
	transition: transform $slide-animation-time $slide-animation-effect;
}

// ====================
// Move In Halves
// ====================

.move-in-halves {
	section:nth-of-type(1) {
		transform: translateY(-120%) translateZ(0);
	}
	section:nth-of-type(2) {
		transform: translateY(120%) translateZ(0);
	}
}

.move-in-halves-active {
	section:nth-of-type(1) {
		transform: translateY(0) translateZ(0) !important;
		transition: transform $move-in-animation-time ease;
	}
	section:nth-of-type(2) {
		transform: translateY(0) translateZ(0) !important;
		transition: transform $move-in-animation-time .5s ease;
	}
}

// ====================
// Move Out Halves
// ====================

.move-out-halves {
	section {
		transform: translateY(0) translateZ(0);
	}
}

.move-out-halves-active {
	section:nth-of-type(1) {
		transform: translateY(-120%) translateZ(0);
		transition: transform $move-out-animation-time ease;
	}
	section:nth-of-type(2) {
		transform: translateY(120%) translateZ(0);
		transition: transform $move-out-animation-time .25s ease;
	}
}

.move-out-halves.move-out-halves-active.negate {
	section {
		transform: translateY(0) translateZ(0);
		transition: transform $move-out-animation-time ease;
	}
}

// ====================
// Expand Project
// ====================

.projects.expand-projects {
	margin-top: 0px;
	transition: margin-top .5s ease;
}

.projects.expand-projects-active {
	.project {
		&:nth-of-type(2n+1) {
			transform: translateX(-100%) translateZ(0);
			transition: transform .5s ease-out 1s;
		}
		&:nth-of-type(2n) {
			transform: translateX(100%) translateZ(0);
			transition: transform .5s ease-out 1s;
		}
	}
}

.projects.expand-projects.expand-projects-active.negate {
	margin-top: 50px;
	transition: margin-top .5s ease;
	.project {
		&:nth-of-type(2n+1) {
			transform: translateX(0) translateZ(0);
			transition: transform .5s ease-out;
		}
		&:nth-of-type(2n) {
			transform: translateX(0) translateZ(0);
			transition: transform .5s ease-out;
		}
	}
}

.expand-chosen-project {
	.hero-container {
		&__header {
			opacity: 0;
		}
	}
	.card-hero {
		top: 0px;
	}
	&-done {
		.hero-container__header {
			opacity: 1;
			transition: opacity .5s .5s ease;
		}
		.card-hero {
			@media (min-height: 500px) {
				top: -200px;
				transition: top .5s ease;
			}
			top: -35px;
			transition: top .5s ease;
		}
	}
}