// Colors

$cod-gray      : #1C1C1C;
$cerulean      : #10A3D5;
$white         : #FFFFFF;

$color--nav: $cod-gray;
$color--cursor: $white;

$color--btn--portfolio: $cerulean;
$color--nav__inner__title: $cerulean;

$breakpoints: (
  "xs": 575px,
  "sm": 576px,
  "med": 768px,
  "lg": 992px,
);

// Animation Times

$base-animation-time: .50s;