// Colors

$cod-gray         : #111111;
$black-opacity-25 : rgba(0,0,0,0.25);
$cerulean         : #10A3D5;
$white            : #F5F5F5;
$dodger-blue      : #3088f3;

$color--nav             : $cod-gray;
$color--cursor          : $white;
$color--black-dim       : $black-opacity-25;
$color--case-study-theme : $dodger-blue;

$color--btn--portfolio: $cerulean;
$color--nav__inner__title: $cerulean;

$breakpoints: (
  "xs": 600px,
  "sm": 767px,
  "med": 768px,
  "lg": 992px,
);

// Animation Stuff

$base-animation-time: .5s;
$fade-animation-time: .5s;
$slide-animation-time: 1.5s;
$cursor-animation-time: .60s;
$move-in-animation-time: 1.5s;
$move-out-animation-time: .5s;

$bounce-animation-effect: cubic-bezier(.79,-0.38,.22,1.54);