// Colors

$cod-gray         : #1C1C1C;
$black-opacity-50 : rgba(0,0,0,0.5);
$cerulean         : #10A3D5;
$white            : #FFFFFF;

$color--nav       : $cod-gray;
$color--cursor    : $white;
$color--black-dim : $black-opacity-50;

$color--btn--portfolio: $cerulean;
$color--nav__inner__title: $cerulean;

$breakpoints: (
  "xs": 320px,
  "sm": 321px,
  "med": 768px,
  "lg": 992px,
);

// Animation Stuff

$base-animation-time: .5s;
$fade-animation-time: .5s;
$slide-animation-time: 1.5s;

$bounce-animation-effect: cubic-bezier(.79,-0.38,.22,1.54);